<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <button onclick="history.back()">Back</button>
    <div class="details content">
      <h2><%= player.email %></h2>
      <div class="content">
        <p>Rating:<%= player.rating %></p>
        <p>First Name:<%= player.firstName %></p>
        <p>Last Name:<%= player.lastName %></p>
      </div>
      <a class="delete" data-doc="<%= player._id %> ">delete</a>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const trashcan = document.querySelector("a.delete");

      trashcan.addEventListener("click", (e) => {
        const endpoint = `/players/${trashcan.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
